
.pink, .pink legend a {
    border: salmon solid 2px;
}
.pink legend * {
    background-color: #FAC9DA;
}
p.pink {
    background: #FAC9DA;
}

.yellow, .yellow legend a {
    border: orange solid 2px;
}
.yellow legend * {
    background-color: #FDE4A5;
}
p.yellow {
    background: #FDE4A5;
}

.green, .green legend a {
    border: #6EBE71 solid 2px;
}
.green legend * {
    background-color: #B2DDB4;
}
p.green {
    background: #B2DDB4;
}

p.blue {
    background: #CAE6FC;
    border: navy solid 2px;

}


.cumpli-operador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(7rem,100%),1fr));
    gap: 1rem;
}