.p-inputmask {
    text-align: end;
}

.estupido-dropdawn{
    width: 100%;
}

/* Estilos para pantallas de entre 601px y 900px de ancho */
/* @media (min-width: 601px) and (max-width: 900px) { */

/* Estilos para pantallas mayores a 900px de ancho */
@media (min-width: 576px) {
    .estupido-dropdawn{
        width: 12.4rem;
    }
}